  <!DOCTYPE html>
<html>
<head>
  <title>4TE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'sign_page/style', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "partials/nav"%>
	<!--Mask-->
    <div class="view hm-black-strong">
    	<div class="full-bg-img flex-center">
    		<%= yield %>
    	</div>
    </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
